@import "partial/typography";


html {
  background-color: #333333af;

  color: #fff;

  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;

  background-image: radial-gradient(closest-corner, #333333E6 0, #333333D6 30%, #33333366 100%), url("../images/amadeus-bg.jpg");
  background-position: center;
  background-size: auto 100%, cover;
  background-repeat: no-repeat;
}

main {
  display: flex;
  width: 100%;
  min-height: 100vh;

  backdrop-filter: brightness(0.7) blur(10px) grayscale(0.3);

  @media only screen and (max-width: 768px) {
    width: 100%;
    min-height: 100vh;
    height: 100%;
  }

  h1 {
    max-width: 85%;
    @media only screen and (max-width: 768px) {
      max-width: 100%;
    }
  }
}

.container {
  width: 75vw;
  max-width: 1260px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 1260px) {
    width: 100%;
  }

  @media only screen and (max-width: 576px) {
    width: 100%;

    padding: 24px 16px;
  }
}

header, footer {
  width: 100%;
}

header {
  margin-bottom: auto;
}

footer {
  margin-top: auto;

  padding-top: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  text-align: center;
}

.contacts, .logos, .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;

  img {
    width: 100%;
    max-width: 320px;
  }

  @media only screen and (max-width: 576px) {
    margin-bottom: 32px;
  }
}

.icon-box {

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  gap: 16px;

  &__icon {
    min-width: 40px;
    width: 40px;
    background-color: rgba(16, 63, 143, .85);
    border-radius: 50%;
    aspect-ratio: 1 / 1;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 24px;
      height: 24px;

      fill: #ffffff;
    }

    &--small {
      svg {
        width: 20px;
      }
    }
  }

  &__link {

    &:link, &:visited {

      font-size: 18px;
      line-height: 1.4;

      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }

  @media only screen and (max-width: 576px) {
    gap: 12px;

    &__icon {
      min-width: 32px;
      width: 32px;

      svg {
        width: 18px;
        height: 18px;
      }

      &--small {
        svg {
          width: 16px;
        }
      }
    }

    &__link {
      &:link, &:visited {
        font-size: 16px;
      }
    }
  }

  &--bigger {
    gap: 20px;

    .icon-box {
      &__icon {
        min-width: 52px;
        width: 52px;

        svg {
          width: 32px;
          height: 32px;
        }

        &--small {
          svg {
            width: 28px;
          }
        }
      }

      &__link {
        &:link, &:visited {
          font-size: 20px;
        }
      }
    }

    @media only screen and (max-width: 576px) {
      gap: 16px;

      .icon-box {
        &__icon {
          min-width: 40px;
          width: 40px;

          svg {
            width: 24px;
            height: 24px;
          }

          &--small {
            svg {
              width: 18px;
            }
          }
        }

        &__link {
          &:link, &:visited {
            font-size: 18px;
          }
        }

      }
    }
  }
}

.contacts {
  width: 75%;

  justify-content: space-evenly;
  gap: 32px;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }

  @media only screen and (max-width: 576px) {
    flex-wrap: wrap;

    gap: 24px;
  }
}

.articles {
  //margin-top: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  &--amadeus {
    margin-top: 72px;
  }
}

.links {
  justify-content: space-around;
  margin-top: auto;

  gap: 32px;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }

  @media only screen and (max-width: 768px) {
    padding-top: 48px;
  }

  .link {
    flex: 0 1 calc(50% - 12px);

    display: flex;
    justify-content: center;
    align-items: center;

    img, svg {
      width: 100%;
      height: auto;
      max-width: 230px;
    }

    a, a:link, a:visited {
      span {
        display: block;
        margin-top: 16px;

        font-size: 14px;
        font-weight: 500;

        text-align: center;

      }
    }
  }
}

h1,
h2,
h3 {
  margin-top: 0;
}

h1 {
  font-size: 56px;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 64px;
}
h1 span {
  font-size: 28px;
  display: block;
  margin-top: 8px;
}
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 36px;
    line-height: 1.4;
    margin-bottom: 48px;
  }
  h1 span {
    font-size: 24px;
  }
}

h2 {
  font-size: 36px;
  line-height: 1.4;
}

h3 {
  font-size: 32px;
  line-height: 1.4;
  margin-top: 80px;
}
@media only screen and (max-width: 576px) {
  h3 {
    font-size: 24px;
    margin-top: 48px;
  }
}

h4 {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
}
@media only screen and (max-width: 576px) {
  h4 {
    font-size: 22px;
  }
}

html {
  background-color: rgba(51, 51, 51, 0.6862745098);
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  // font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  background-image: radial-gradient(
      closest-corner,
      rgba(51, 51, 51, 0.9019607843) 0,
      rgba(51, 51, 51, 0.8392156863) 30%,
      rgba(51, 51, 51, 0.4) 100%
    ),
    url("../images/amadeus-bg.jpg");
  background-position: center;
  background-size: auto 100%, cover;
  background-repeat: no-repeat;
}

main {
  display: flex;
  width: 100%;
  min-height: 100vh;
  backdrop-filter: brightness(0.7) blur(10px) grayscale(0.3);
}
@media only screen and (max-width: 768px) {
  main {
    width: 100%;
    min-height: 100vh;
    height: 100%;
  }
}
main h1 {
  max-width: 85%;
}
@media only screen and (max-width: 768px) {
  main h1 {
    max-width: 100%;
  }
}

.container {
  width: 100vw;
  max-width: 1820px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 1260px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 24px 16px;
  }
}
.gcm-container {
  width: 75vw;
  max-width: 1011px;
  margin: 0 auto;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-okna,
.amadeus-logo {
  flex: 0 1 20%;
}
.title {
  flex: 0 1 60%;
}

.bathroom {
  width: 100%;
  background: url(../images/bathroom.png) no-repeat;
  height: 100%;
  background-size: 100%;
  min-height: 941px;
}


.bg-bath {
  width: 100%;
  background: url(../images/amadeus-bg.jpg) no-repeat;
  height: 100%;
  background-size: 100%;
  min-height: 941px;
}

.gcm-boxes__container {
  width: 75vw;
  max-width: 1260px;
  margin: 0 auto;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact {
  display: flex;
  flex-direction: row;
  color: #000;
}
.contact h2 {
  font-weight: 400;
  text-transform: uppercase;
}

.contact-us {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  box-shadow: -24px -66px 200px rgba(0, 0, 0, 0.12);
  background-color: #000000;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  color: #fff;
}
footer h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
}
footer a {
  color: #fff;
}
.footer-together {
  display: flex;
  padding-bottom: 46px;
}

.interesting {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  max-width: 1260px;
  margin: 0 auto;
}
.interesting h3 {
  margin-top: 0;
}
.gcm-footer__left {
  a {
    font-weight: 300;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  display: flex;
  flex-direction: column;
  flex: 0 1 33%;
}
.gcm-bottom {
  padding-bottom: 39px;
  padding-top: 26px;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-weight: 300;

  &--left, &--right {
    display: flex;
    flex:0 1 50%;
    p {
      margin: 0;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1600px;
    height: 1px;
    
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
    
    opacity: 0.3;
  }
}

.gcm-footer__center {
  img {
    width: 100%;
    max-width: 20%;
  }
  display: flex;
  flex-direction: row;
  flex: 0 1 33%;
}
.gcm-footer__right {
  display: flex;
  flex-direction: column;
  flex: 0 1 33%;
  a {
    font-weight: 300;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.gcm-footer__right img {
  width: 100%;
  max-width: 20%;
}

.gcm-together {
  display: flex;
}

.gcm-left,
.gcm-right {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
}
.gcm-left .name {
  text-transform: uppercase;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 291px;
    height: 2px;
    background:  #000000;
  }
}
.gcm-contacts {
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  color: #000;
}

header,
footer {
  width: 100%;
}

header {
  margin-bottom: auto;
  padding: 32px 16px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h1 {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 52px;
  font-weight: 200;
  display: flex;
  flex-direction: row;
}

.title h1 span {
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  padding-left: 24px;
  display: flex;
}
.slider {
  box-shadow: -24px -66px 200px rgba(0, 0, 0, 0.4);
  background-color: #000000;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  margin-top: -322px;
  
  padding: 32px 16px;
}
.slider img {
  max-width: 14%;
}

.slider p {
  margin-top: 66px;
  font-weight: 200;
  text-align: center;
  color: #fff;
  line-height: 36px;
  font-size: 23px;
}
.advantages {
  box-shadow: -24px -66px 200px rgba(0, 0, 0, 0.4);
  background-color: #000;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  margin-top: -440px;
}
.advantages h2 {
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 400;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  display: flex;
  text-align: center;
  flex-direction: column;
  color: #000;
  margin-bottom: 20px;
  background: #fff;
  flex: 0 1 calc(33% - 10px);
  padding: 25px;
  max-width: 350px;
  width: 100%;
}
.box h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

.box p {
  margin: 0;
}

footer {
  margin-top: auto;
  padding-top: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.visit-us {
margin-top: 50px;
background: url(../images/uzovovky.svg) no-repeat,  url(../images/uvozovky_dolni.svg) no-repeat;
}

.contacts,
.logos,
.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.logo img {
  width: 100%;
  max-width: 40%;
}
.amadeus-logo img {
  max-width: 40%;
}

@media only screen and (max-width: 576px) {
  .logo {
    margin-bottom: 32px;
  }
}

.icon-box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.icon-box__icon {
  min-width: 40px;
  width: 40px;
  background-color: rgba(16, 63, 143, 0.85);
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-box__icon svg {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
.icon-box__icon--small svg {
  width: 20px;
}
.icon-box__link:link,
.icon-box__link:visited {
  color: #000;
  font-size: 18px;
  line-height: 1.4;
}
.icon-box__link:link:hover,
.icon-box__link:link:focus,
.icon-box__link:visited:hover,
.icon-box__link:visited:focus {
  text-decoration: none;
}
@media only screen and (max-width: 576px) {
  .icon-box {
    gap: 12px;
  }
  .icon-box__icon {
    min-width: 32px;
    width: 32px;
  }
  .icon-box__icon svg {
    width: 18px;
    height: 18px;
  }
  .icon-box__icon--small svg {
    width: 16px;
  }
  .icon-box__link:link,
  .icon-box__link:visited {
    font-size: 16px;
  }
}
.icon-box--bigger {
  gap: 20px;
}
.icon-box--bigger .icon-box__icon {
  min-width: 52px;
  width: 52px;
}
.icon-box--bigger .icon-box__icon svg {
  width: 32px;
  height: 32px;
}
.icon-box--bigger .icon-box__icon--small svg {
  width: 28px;
}
.icon-box--bigger .icon-box__link:link,
.icon-box--bigger .icon-box__link:visited {
  font-size: 20px;
}
@media only screen and (max-width: 576px) {
  .icon-box--bigger {
    gap: 16px;
  }
  .icon-box--bigger .icon-box__icon {
    min-width: 40px;
    width: 40px;
  }
  .icon-box--bigger .icon-box__icon svg {
    width: 24px;
    height: 24px;
  }
  .icon-box--bigger .icon-box__icon--small svg {
    width: 18px;
  }
  .icon-box--bigger .icon-box__link:link,
  .icon-box--bigger .icon-box__link:visited {
    font-size: 18px;
  }
}

.contacts {
  width: 75%;
  justify-content: space-evenly;
  gap: 32px;
}
@media only screen and (max-width: 768px) {
  .contacts {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .contacts {
    flex-wrap: wrap;
    gap: 24px;
  }
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.articles--amadeus {
  margin-top: 72px;
}

.links {
  justify-content: space-around;
  margin-top: auto;
  gap: 32px;
}
@media only screen and (max-width: 768px) {
  .links {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .links {
    padding-top: 48px;
  }
}
.links .link {
  flex: 0 1 calc(50% - 12px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.links .link img,
.links .link svg {
  width: 100%;
  height: auto;
  max-width: 230px;
}
.links .link a span,
.links .link a:link span,
.links .link a:visited span {
  display: block;
  margin-top: 16px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

/*# sourceMappingURL=/main.3a106136.css.map */


